header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul li a{
    text-decoration: none; 
    color: white; 
    padding: 5px 20px; 
    border: 1px solid white;  
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white; 
    color: #000;
}

ul li.active a{
    background-color: white; 
    color: #0f0d0d;
}

.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 0%;
    left: 26%;
}
h3{
    color: white;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
}
h1{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
.gallery{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px rgba(0,0,0,0.25), 0 10px 10pxrgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;

}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
h2{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding:15px;
    border: 0;
    outline: rgb(90, 76, 76);
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy-1{
    background: #2183a2;
}
.buy-2{
    background: #3b3e6e;
}
.buy-3{
    background: #0b0b0b;
}
.buy-4{
    background: #ff9f43;
}
@media(max-width:1000px){
    .content{
        width: 45%;
    }
}
@media(max-width:750px){
    .content{
        width: 100%;
    }
}
h4{
    color: white;
    font-size: 38px;
    text-decoration: wavy;
    text-align: center;
    font-style: oblique;
}
p{
    color:#222f3e;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
































































